// button.btn-blink,
// a.btn-blink
// {

//     animation: blink 1s;
//     animation-iteration-count: 3;
// }

@keyframes blink { 50% {
    // border-width: $btn-border-width $btn-border-width $btn-border-width ($btn-border-width*2);
    //border-color: $black;
    background-color: $red;
		color: $white;
		text-decoration: none;;
}}

// Siehe auch _venobox.scss transitions.
