// @mixin button-variant2($color, $background, $border)

$color-catid0: $primary;
$color-catid84: $orange;
$color-catid91: darken($purple, 10%);
$color-catid92: darken($cyan, 10%);
$color-catid97: darken($green, 10%);

$colorsCategory: (
	("0", $white, $color-catid0, $primary),
	(84, $black, $color-catid84, $black),
	("91", $white, $color-catid91, $black),
	("92", $white, $color-catid92, $black),
	("97", $white, $color-catid97, $black)
);



@each $cC in $colorsCategory
{
	// catId-x ist eine BODY-Klasse:
	.catId-#{nth($cC, 1)}
	{
		.readmore .btn,
		.btn-catcolor
		{
			// @include button-variant2(#{nth($cC, 2)}, #{nth($cC, 3)}, #{nth($cC, 4)});
			@include button-variant2( nth($cC, 2), nth($cC, 3), nth($cC, 4) );
  	}

		.badge-catcolor
		{
			@include badge-variant2( nth($cC, 3) );
		}
	}
}



$buttonsy: (
  ("default", $white, $gray-800, $black),
  ("catcolor", #286090, #122b40, #ffffff)
);

@each $b in $buttonsy
{
  .btn-#{nth($b,1)} {
    @include button-variant( nth($b,2), nth($b,3), nth($b,4) );
  }
}


.linkWithIconGhsvs
{
	@extend .btn;
	@extend .btn-default;
	color: $red;
}
