@import "importerMin";

#toTop
{
	z-index:989;
	text-align:center;
	padding: 2px;
	position:fixed;
	right:0.8rem;
	bottom:0.8rem;
	cursor:pointer;
	display:none;
	color: $red;
background-color: #fff;
border-radius: 50%;
	&.btn
	{
		padding: 0;
		line-height: 1;
	}
}

#toTop.visible
{
	display: block;
}
